@font-face {
    font-family: "webfont";
    src: url("./webfont.eot?#iefix") format("embedded-opentype"),
url("./webfont.woff2") format("woff2"),
url("./webfont.woff") format("woff"),
url("./webfont.ttf") format("truetype"),
url("./webfont.svg#icons") format("svg");
}

.icon {
    font-family: webfont !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
	font-size: 24px;
	width: 24px;
	height: 24px;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-pen:before {
    content: "\ea02";
}
.icon-trash:before {
    content: "\ea03";
}
.icon-callendar-filled:before {
	content: "\ea01";
}
